extends layout

block content
	.row
		.col-sm-3
			h2 About Page
			hr
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nemo officiis nostrum minus, ad, officia corporis rem doloremque, nam debitis totam ullam saepe hic error, qui delectus? Officia vitae harum pariatur iure praesentium necessitatibus qui ad alias molestias. Iure, consectetur, aliquid. Incidunt, voluptates quo veniam.
		.col-sm-9
			h2 With its custom template
			hr
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, totam, veritatis. Eos qui quia ea quos, aliquid quaerat sit aperiam iure dolorem, dolorum quisquam nesciunt explicabo asperiores hic. Ipsum quis adipisci culpa, quod maxime impedit, voluptatum quas fugit eaque rerum. Totam enim, consequuntur tenetur a et optio commodi unde aperiam ipsam nobis quas repudiandae, nesciunt placeat laudantium. Voluptate illo similique nostrum ad perferendis veritatis quo enim, ut labore est voluptatem maiores reiciendis impedit eos quae blanditiis dolor nesciunt assumenda iusto unde odit explicabo cupiditate tempore facere. Quos est eum libero sequi dolorum quia, similique error ea facere quibusdam porro iure optio saepe consequuntur cumque obcaecati maiores vitae? Ad suscipit voluptatum voluptates illum distinctio facere nobis, rem, non possimus soluta, quia sunt.