doctype
head
	title= page
	meta(charset='utf-8')
	link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
	link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
	link(rel='stylesheet' href='style/main.css')

	style
		| ul.nav a {
		|		text-transform: capitalize;
		|}
	body
		.container
			h1= page
			hr
			ul.nav.nav-pills
				each link in links
					li: a(href=link)= link
				li: a(href='/new') new
			hr
			block content
