extends layout

block content
	form#testPage(action="#")
	#msg
	script(src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")
	script(src="js/create.js")
	script( src="js/validate.js")
